.swp
ac-comphist.dat
auto-save-list/
elpa/*
/color-mode-line.el
/config/smart-semi.el
/themes/*
/.mc-lists.el
/url/cookies
/.DS_Store
/dandark-theme.el
/init.el~
tramp
/bookmarks
/projectile-bookmarks.eld
/projectile.cache
/snippets/c-mode/for
/snippets/python-mode/def
/tramp
/config/appearance.el
